/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ~~~~~~ Custom Scrollbar ~~~~~~~~~~~~~ */
::-webkit-scrollbar {
  width: 10px;
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 6px;
  transform: 2s ease;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

/* fade animation while reloading */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
